html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,h2,h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-emphasis-color: #bb1b47;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: capitalize;  
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
    font-size: 1.25rem;
}

nav a:link {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

nav a:visited {
    color: rgb(128, 0, 128);
    text-decoration: none;
}

nav a:hover {
    color: rgb(76, 0, 255);
    cursor: pointer;
    text-decoration: underline;
    
}

nav a:active {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    
}

nav a:focus {
    color: black;
}
