:root {
    --header-color: #bb1b47;
    --link-color: #ff0000;
    --link-hover-color: #4c00ff;
    --link-visited-color: #800080;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    --ratio: 1.35;
    
    --size-one: calc( 1rem * var(--ratio) );
    --size-two: calc( var(--size-one) * var(--ratio) );
    --size-three: calc( var(--size-two) * var(--ratio) );
}

h1,h2,h3 {
    color: var(--header-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-emphasis-color: var(--header-color);
}

h1 {
    font-size: calc(var(--size-three));
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: capitalize;  
}

h2 {
    font-size: calc(var(--size-two));
}

h3 {
    font-size: calc(var(--size-one));
}

.site-intro {
    font-size: 1rem;
}

nav {
    background-image: linear-gradient(pink 30%, yellow);
}

nav a:link {
    color: var(--link-color);
    text-decoration: none;
}

nav a:visited {
    color: var(--link-visited-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
    text-decoration: underline;
    
}

nav a:active {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    
}

nav a:focus {
    color: black;
}

footer {
    background-image: linear-gradient(to right, rgb(255, 0, 140), yellow, white);
}
