html {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
  }

* ,
* ::before ,
* ::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(29, 4, 170);
    background-image: url(/img/breakfast.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 60%;
    background-color: rgba(255, 253, 208, 0.7);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 12px 16px;
    background-color: rgba(255, 188, 112, 0.733);
    border-radius: 8px;
    margin-right: 8px;
}

.policies {
    margin-bottom: 2rem;
}

form {
    padding-left: 3rem;
}

label,
span {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: right;
}

.radio label {
    width: 12px;
}

span {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password] {
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}

textarea {
     border-radius: 8px;
}

input[type=checkbox],
input[type=radio] {
     width: 18px;
     height: 18px;
     cursor: pointer;
}

input[type=submit], [type=reset]{
    background-color: rgb(255, 195, 126);
    border: rgb(90, 59, 38) solid 1px;
    color: rgb(90, 59, 38);
    padding: .5rem;
    margin-bottom: 1rem;
    margin-left: 60%;  
    border-radius: 8px; 
    text-transform: uppercase;
    font-size: .75rem;     
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

button[type=submit] {
    margin-top: 5rem;
}
